<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
            margin: 0;
        }

        #container {
            display: flex;
            flex-direction: row;
        }

        h1 {
            margin-top: 0;
            height: 80px;
            padding: 10px;
            line-height: 80px;
            font-size: 40px;
            margin-bottom: 0;

        }

        .mdeContainer {
            z-index: 1;
            background-color: #ffffff;
            width: 100%;
        }

        button {
            background-color: rgb(218, 218, 218);
            border: 1px solid rgb(218, 218, 218);
            /* border-radius: 10px; */
            width: 40px;
            height: 40px;
            font-size: 40px;
            line-height: 10px;
        }

        .line {
            margin-top: 100px;
            width: 2px;
            height: 800px;
            background-color: #ccc;
        }

        .grid1 {
            width: 18vw;
            margin: 1vw 1vh;
            transition: ease .5s;
        }


        .user {
            font-size: 1.4rem;
            /* text-align: center; */
        }

        #profileImg {
            width: 8vh;
            height: 8vh;
            border-radius: 10000px;
        }

        .dropBtn {
            background-color: rgb(218, 218, 218);
            color: black;
            font-size: 18px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffffff;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 20px;
        }

        .dropdown-content button {
            border: none;
            width: 200px;
            font-size: 15px;
            background-color: white;
        }

        .dropdown-content form {
            border-radius: 10px;
            border: none;
            width: 200px;
            font-size: 15px;
            background-color: white;
        }

        .dropdown-content button:hover {
            background-color: #ddd;
        }

        .saveBtn {
            background-color: #aaa;
            width: fit-content;
            color: #535353;
            padding: .5rem 1rem;
            margin: 0 0 1rem 2rem;
            cursor: pointer;
        }

        .headLine {
            background-color: #ccc;
            display: flex;
            flex-direction: column;
        }

        .headBtn {
            display: flex;
            flex-direction: row;
        }

        .memoList {
            cursor: pointer;
        }

        .memoList:hover {
            background-color: #ddd;
        }

        #sideBtn {
            background-color: #aaa;
            color: #535353;
            transition: ease .5s;
        }

        @media screen and (max-width: 768px) {
            .grid1 {
                width: 100vw;
                margin: 1vw 1vh;
                transition: ease .5s;
            }
        }
    </style>

    <link rel="stylesheet" href="./style/common.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <div id="container">
        <div class="grid1">
            <img id="profileImg" src="/uploadImage/<%= user.profileImg %> " alt="">
            <p class="user">
                <%= user.name %>
            </p>
            <hr>
            <div class="dropdown">
                <button class="dropBtn">▼</button>
                <div class="dropdown-content">
                    <form action="/signout" method="post" style="margin-bottom: .6vh;">
                        <button class="logout">Logout</button>
                    </form>
                    <form action="/uploadImage/<%= user.name %>" enctype="multipart/form-data" method="post">
                        <input class="changeI" type="file" name="attachment" required>
                        <button class="changeI" type="submit" style="margin-top: .6vh;">Change Image</button>
                    </form>
                </div>
            </div>
            <div>
                <form action="/newMemo/<%= user.name %>/<%= user.memoList.length %>" method="post">
                    <input type="text" name="title" required>
                    <button type="submit">+</button>
                </form>
                <br>
                <div id="memoList">
                    <% let i %>
                        <% for (i=0; i < user.memoList.length; i++) { %>
                            <h3 class="memoList" onclick="changeMemo('<%= i %>')">
                                <%= user.memoList[i].title %>
                            </h3><br>
                            <% } %>
                </div>
            </div>
        </div>
        <div class="mdeContainer">
            <div class="headLine">

                <h1>
                    <span onclick="sideBar(this)" id="sideBtn"><</span>
                            <%= user.memoList[showing].title %>
                </h1>
                <div class="headBtn">
                    <h3 onclick="sendMD()" class="saveBtn">Save</h3>
                    <h3 onclick="deleteMD()" class="saveBtn">Delete</h3>
                </div>
            </div>
            <textarea id="editor"></textarea>
        </div>
    </div>
    <script>
        let isOpen = true;
        const sideBar = (ele) => {
            if (isOpen) {
                ele.textContent = '>';
                let sideBar = document.querySelector('.grid1');
                sideBar.style.display = 'none';
                isOpen = false;
            } else {
                ele.textContent = '<';
                let sideBar = document.querySelector('.grid1');
                sideBar.style.display = 'block';
                isOpen = true;
            }
        }



        const editMde = new SimpleMDE({
            element: document.getElementById('editor'),
            spellChecker: false,
            hideIcons: ['guide', 'fullscreen', 'side-by-side', 'image', 'link', 'quote']
            // guide implmentation is open to you
            // fullscreen and sxs muss up layout
        });

        let tmp = '<%= user.memoList[showing].value %>'
        console.log(tmp)
        // tmp = tmp.replace(/<br\s*[\/]?>/gi, "\n")
        tmp = tmp.replace(/NextLineNextLine/g, "\n")
        tmp = tmp.replace(/HashHash/g, "#")
        tmp = tmp.replace(/NullNull/g, "")
        editMde.value(tmp);

        const changeMemo = (index) => {
            console.log(index)
            let url = `/changeShow/<%= user.name %>/${index}`;
            console.log(url)
            fetch(url, {
                method: 'post',
            })
                .then(res => {
                    location.reload()
                })
        }

        console.log('<%= user.memoList[showing]._id %>')

        let data = editMde.value();
        function download(content, fileName, contentType) {
            var a = document.createElement("a");
            var file = new Blob([content], { type: contentType });
            a.href = URL.createObjectURL(file);
            a.download = fileName;
            a.click();
        }
        // download(data, 'data.txt', 'text/plain');

        let dropBtn = document.querySelector('.dropBtn');
        dropBtn.addEventListener('click', function () {
            let dropdown = document.querySelector('.dropdown-content');
            if (dropdown.style.display == 'block')
                dropdown.style.display = 'none';
            else
                dropdown.style.display = 'block';
        });

        const sendMD = () => {
            let sMD = editMde.value();
            if (sMD == '') {
                sMD = 'NullNull';
            }
            sMD = sMD.replace(/\n/g, 'NextLineNextLine');
            sMD = sMD.replace(/#/g, 'HashHash');
            console.log(sMD)
            // alert(sMD)
            let url = `/uploadMD/<%= user.memoList[showing].title %>/${sMD}`;
            console.log(url)
            fetch(url, {
                method: 'post',
                body: sMD
            })
                .then(res => {
                    alert("Save Complete")
                    location.reload()
                })
        }

        console.log('<%= showing %>')
        console.log('<%= showing-1 %>')

        const deleteMD = () => {
            let sMD = editMde.value();
            if (sMD == '') {
                sMD = 'NullNull';
            }
            sMD = sMD.replace(/\n/g, 'NextLineNextLine');
            sMD = sMD.replace(/#/g, 'HashHash');
            console.log(sMD)
            // alert(sMD)
            let url = `/deleteMD/<%= user.name %>/<%= user.memoList[showing]._id %>`;
            console.log(url)
            fetch(url, {
                method: 'post'
            })
                .then(res => {

                    alert("Delete Complete")
                    location.reload()
                })
        }

    </script>
    <!-- <script src="./script/index.js"></script> -->
</body>

</html>